html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 43px;
}

.container-fluid {
  margin-top: 21px;
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ecf0f1;
}

textarea.form-control {
  font-family: monospace;
  font-size: 13px;
  resize: vertical;
}
